.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #f1f1f1;
}
div.content {
  margin-left: 150px;
  padding: 1px 16px;
  height: 2000px;

}
div.content1 {
  margin-left: 550px;
  padding: 1px 16px;
  height: 2000px;

}
.bg-modal{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  top:0;
  justify-content:center;
  align-items:center;
  display:none;

}
.modal-content{
  margin-left: 25%;
  margin-right:25%;
  width: 50px;
  height: 500px;
  background-colour:white;
  border-radius: 4px;
  text-allign:center;
  padding:20px;
  position: relative;

}

.close{
  position:absolute;
  top: 0;
  right: 14px;
  font-size:42px;
  transform: rotate(45deg);
  cursor:pointer;
}


.example{
  margin-left: 650px;
  padding: 1px 16px;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
