{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{%  static "css/styles.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
  <body>
<div class="sidebar">
  <a class="active" href="home1"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="My_Files"><i class="fa fa-fw fa-file"></i>My files</a>
  <a href="allusers"><i class="fa fa-fw fa-user"></i>All Users</a>
  <a href="createdprofile"><i class="fa fa-fw fa-address-card"></i>MY Profile</a>
  <a href="logout"><i class="fa fa-fw fa"></i>Logout</a>
</div>

<div class="content">
  <div class="list-group">
  <h2>Favourites</h2>
  {% for file in files %}
        <div class="list-group">
             <div class="list-group-item">
                 <h4 class="list-group-item-text">{{ file.name}}</h4>
                  <p class="list-group-item-text">{{ file.created_on}}</p>
                 <a class="list-group-item-text" href="{{ file.file.url }}" target="_blank"><button type="button" class="btn btn-primary">Preview</button> </a> </td>

                 <a class="list-group-item-text" href="{{ file.file.url }}" target="_blank" download><button type="button" class="btn btn-primary">Download</button></a>
               <a class="list-group-item-text" href="{% url 'filesharing:delete' file.pk %}" ><button type="button" class="btn btn-primary">Delete</button></a>
                 <a class="list-group-item-text" href="{% url 'filesharing:removestar' file.pk %}" ><button type="button" class="btn btn-primary">Remove from Favourites</button></a>

                 {% if file.isprivate %}
                    <a class="list-group-item-text" href="{% url 'filesharing:makepublic' file.pk %}" ><button type="button" class="btn btn-primary">Make Public</button></a>

                 {% else %}
                     <a class="list-group-item-text" href="{% url 'filesharing:makeprivate' file.pk %}" ><button type="button" class="btn btn-primary">Make Private</button></a>
                    {% endif %}

             </div>
        </div>
 {% endfor %}
 </div>


  </body>
</html>

