{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{%  static "css/styles.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
  <body>
<div class="sidebar">
  <a class="active" href="home1"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="My_Files"><i class="fa fa-fw fa-file"></i>My files</a>
  <a href="allusers"><i class="fa fa-fw fa-user"></i>All Users</a>
  <a href="#clients"><i class="fa fa-fw fa-address-card"></i>Profile</a>
  <a href="#contact"><i class="fa fa-fw fa"></i>Logout</a>
</div>

  </body>
</html>

