{% extends 'filesharing/base.html'%}

{% block title%} Add Folder {% endblock %}

{% block body %}
<div class="card-body" style="background-color:white">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display:none">
      <input type="text" id="path" name="path">
    </div>
    <p><label for="id_file">File:   </label>
    <input id="id_file" type="file" name="file" multiple webkitdirectory="" onchange="myFunction()" required /></p>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>


<script>
  function myFunction(){
    var x = document.getElementById("path");
    var y = document.getElementById("id_file");
    var txt = "";
    if ('files' in y) {
      for (var i = 0; i < y.files.length; i++) {
        var file = y.files[i];
        if ('webkitRelativePath' in file) {
          txt = txt + file.webkitRelativePath + " ";
        }
      }
    }
    x.value = txt
  }
</script>

{% endblock %}