{##}
{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en" dir="ltr">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <title>Home</title>#}
{#    <link rel="stylesheet" type="text/css" href="{%  static "css/styles.css" %}"/>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{##}
{##}
{#</head>#}
{#  <body>#}
{#<div class="sidebar">#}
{#  <a  href="/home1"><i class="fa fa-fw fa-home"></i> Home</a>#}
{#  <a href="/My_Files"><i class="fa fa-fw fa-file"></i>My files</a>#}
{#  <a class="active" href="/allusers"><i class="fa fa-fw fa-user"></i>All Users</a>#}
{#  <a  href="/createdprofile" ><i class="fa fa-fw fa-address-card" ></i>MY Profile</a>#}
{#  <a href="/logout"><i class="fa fa-fw fa"></i>Logout</a>#}
{#</div>#}
{##}
{##}
{#<div class="content">#}
{#     <div>#}
{#      <td> <a class="list-group-item-text" href="{{ p1.image.url }}" target="_blank">#}
{##}
{#      <img class="rounded-circle account-img"  src="{{ p1.image.url  }}" width="250" height="250" >  </a> </td>#}
{#    </div>#}
{##}
{#  <div>#}
{#        profilename: {{p1.profilename}}#}
{#    </div>#}
{##}
{#    <div>#}
{#        DOB : {{p1.DOB}}#}
{#    </div>#}
{##}
{#    <div>#}
{#     college :  {{p1.college}}#}
{#    </div>#}
{##}
{#    <div>#}
{#        created on : {{p1.created}}#}
{#    </div>#}
{##}
{#</div>#}
{##}
{##}
{#  </body>#}
{#</html>#}

{%   load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{%  static "css/styles.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        p.solid {border-style: solid;}
        h4{
            border-bottom: 2px solid black;
        }
        .vl
        {border-left: 2px solid black;
         height: auto;
        }
        DIV.container {
     margin: 0;

    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
        }


    </style>

</head>
  <body>
  <div class="sidebar">
  <a  href="/home1"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/My_Files"><i class="fa fa-fw fa-file"></i>My files</a>
  <a href="/allusers"><i class="fa fa-fw fa-user"></i>All Users</a>
  <a class="active" href="#" onclick="return false"><i class="fa fa-fw fa-address-card" ></i> Profile</a>
  <a href="/logout"><i class="fa fa-fw fa"></i>Logout</a>
</div>



<div class="container">
    <div class="main-body">



          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">


         <td> <a class="list-group-item-text" href="{{ p1.image.url }}" target="_blank">


             <img src="{{ p1.image.url  }}" alt="Admin"  class="rounded mb-2 img-thumbnail" width="500" > </a> </td>

                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Profilename</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ p1.profilename }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6>Date of Birth</h6>
                    </div>
                       <div class="col-sm-9 text-secondary">
                      {{ p1.DOB}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">College</h6>
                    </div>
                  <div class="col-sm-9 text-secondary">
                      {{ p1.college}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Created On</h6>
                    </div>
                   <div class="col-sm-9 text-secondary">
                      {{ p1.created}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

  </body>
</html>